# Tank 角色配置片段
CONFIG_RC_TANK_ROLE_TANK=y
CONFIG_RC_TANK_STABLE_CAPTURE=y
# CONFIG_RC_TANK_AUDIO_ENABLED is not set
# CONFIG_ESP_WIFI_TASK_PINNED_TO_CORE_1 is not set
CONFIG_ESP_WIFI_TASK_PINNED_TO_CORE_0=y
# CONFIG_ESP_WIFI_EXTRA_IRAM_OPT is not set
# CONFIG_CAM_CTLR_DVP_CAM_ISR_CACHE_SAFE is not set
CONFIG_CAM_CTRL_DVP_ENABLE=y
CONFIG_CAM_CTRL_DVP_DMA_BUFFER_SIZE=32768
# CONFIG_CAM_CTRL_DVP_LOG_ENABLE is not set
