CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_PARTITION_TABLE_SINGLE_APP=y

CONFIG_LAIWFS300_BRINGUP_TEST_LOG_TASK=y
CONFIG_LAIWFS300_BRINGUP_TEST_LOG_PERIOD_MS=2000
CONFIG_LAIWFS300_ENABLE_MOTOR_SMOKE_TEST=y
CONFIG_LAIWFS300_MOTOR_SMOKE_TEST_DRY_RUN=n
CONFIG_LAIWFS300_ENABLE_DISPLAY_COLOR_TEST=y
CONFIG_LAIWFS300_ENABLE_CAMERA_PREVIEW_TEST=n

CONFIG_LAIWFS300_ENABLE_TOUCH_TEST=y
CONFIG_LAIWFS300_ENABLE_RTC_TEST=y
CONFIG_LAIWFS300_ENABLE_IMU_TEST=y
CONFIG_LAIWFS300_ENABLE_IOEX_INPUT_TEST=y
CONFIG_LAIWFS300_ENABLE_AUDIO_LOOPBACK_TEST=y

CONFIG_LAIWFS300_ENABLE_LTE_NET_TEST=n

CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_QUAD=y
CONFIG_SPIRAM_SPEED_80M=y
